@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeueItalic.woff') format('woff');
} 
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 100;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 100;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-ThinCond.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 100;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-ThinCondObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 100;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-ThinExtObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 100;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-ThinItalic.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-LightExt.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-UltraLigCond.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-UltraLigExt.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 300;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-LightCondObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 300;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-LightExtObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 300;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-UltraLigCondObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-HeavyExt.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-Extended.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-HeavyCond.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-ExtBlackCond.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-Condensed.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-MediumExt.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-Roman.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-HeavyExtObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-HeavyCondObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-ExtendedObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-ExtBlackCondObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-CondensedObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-HeavyItalic.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-MediumExtObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-BoldExt.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 700;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-BoldExtObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 700;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-BoldCondObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-BlackExt.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-Black.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 900;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-BlackExtObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 100;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeueUltraLight.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 100;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeueUltraLightItal.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-Light.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeueLight.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/helvetica-47-light-condensed-587ebd7b5a6f6.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 300;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeueLightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 300;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/helvetica-46-light-italic-587ebdb0ea724.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeueMedium.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-MediumCond.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 500;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-MediumCondObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeueBold.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeueCondensedBold.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/helvetica-75-bold-outline-587ebe00b76ba.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 700;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeueBoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-BlackCond.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeueCondensedBlack.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 900;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaNeue-BlackCondObl.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 900;
    src: local('Helvetica Neue'), url('/assets/fonts/helvetica-neue-55/HelveticaBlkIt.woff') format('woff');
}

